<a href="https://colab.research.google.com/github/shahdelmasry12/AI-and-ML-labs/blob/main/lap1_basics_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 1**

In [ ]:
#1-Create number (+,_,*,/,//,%)
num1,num2,num3=3,4,5
print(f"{num1} + {num2} = {num1+num2}")
print(f"{num3} - {num1} = {num3-num1}")
print(f"{num1} * {num2} + {num3} = {num1*num2+num3}")
print(f"{num1} * ({num2} + {num3}) = {num1*(num2+num3)}")
print(f"{num3} / {num1} = {num3/num1}")
print(f"{num3} // {num1} = {num3//num1}")
print(f"{num3} % {num1} = {num3%num1}")
print("With float")
num1,num2,num3=float(3),float(4),float(5)
print(f"{num1} + {num2} = {num1+num2}")
print(f"{num3} - {num1} = {num3-num1}")
print(f"{num1} * {num2} + {num3} = {num1*num2+num3}")
print(f"{num1} * ({num2} + {num3}) = {num1*(num2+num3)}")
print(f"{num3} / {num1} = {num3/num1}")
print(f"{num3} // {num1} = {num3//num1}")
print(f"{num3} % {num1} = {num3%num1}")

3 + 4 = 7
5 - 3 = 2
3 * 4 + 5 = 17
3 * (4 + 5) = 27
5 / 3 = 1.6666666666666667
5 // 3 = 1
5 % 3 = 2
With float
3.0 + 4.0 = 7.0
5.0 - 3.0 = 2.0
3.0 * 4.0 + 5.0 = 17.0
3.0 * (4.0 + 5.0) = 27.0
5.0 / 3.0 = 1.6666666666666667
5.0 // 3.0 = 1.0
5.0 % 3.0 = 2.0

In [ ]:
#2-
x,y,z,g=1,2,3,4
print(x+((y*z)/g))
print(y**z)

2.5
8

In [ ]:
#3-
str_a,str_b,str_c="Python "," is a"," times fun language"
num=100
str_ab=str_a+str(num)+str_b+str_c
print(str_ab)
for i in range(1,11):
    str_a10=str_a
    print(str_a10)

Python 100 is a times fun language
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [ ]:
#4-
num_1,num_2,num_3,num_4=-5,3.2,5.7,625
print(abs(num_1))
print(round(num_2))
print(round(num_3))
print(f"The square root of {num_4} == {int((num_4)**(1/2))}")

5
3
6
The square root of 625 == 25

In [ ]:
#5-
num1, num2 = map(int, input().split())
print(f"{num1} * {num2} = {num1*num2}")

3 4
3 * 4 = 12

# **Task 2 PDF**

In [ ]:
#1
number=int(input("Enter the number? "))
if number%2==0:
    print(f"{number} is even number")
else:
    print(f"{number} is odd number")

Enter the number? 3
3 is odd number

In [ ]:
#2
student_score=int(input("Enter your score? "))
if student_score>=50:
    print("Pass")
else:
    print("Fail")

Enter your score? 40
Fail

In [ ]:
#3-Largest of 3 numbers
num1, num2, num3= map(int, input().split())
print(max(num1, num2, num3))

3 4 5
5

In [ ]:
#4-Counting with for
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#5-Grade Calculator
student_score=int(input("Enter your score? "))
if student_score<=100 and student_score>=90:
    print("A")
elif student_score<=89 and student_score>=80:
    print("B")
elif student_score<=79 and student_score>=70:
    print("C")
elif student_score<=69 and student_score>=60:
    print("D")
elif student_score<60:
    print("F")

Enter your score? 40
F

In [ ]:
#6-Multiplication Table
number=int(input("Enter the number: "))
for i in range(1,11):
    print(f"{i} * {number} = {i*number}")

Enter the number: 4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [ ]:
#7-Sum of Even Numbers
import math
sum=0
for i in range(1,50):
  if number%2==0:
    sum+=i
print(f"the sum of all even numbers between 1 and 50 ={sum}")

the sum of all even numbers between 1 and 50 =1225

In [ ]:
#8-Factorial with while loop
number = int(input("Enter the number: "))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print(factorial)

Enter the number: 4
24